*, *::after, *::before{
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', 'sans-serif';
    box-sizing: border-box;
    text-align: center;
}
body {
    height: 100vh;
}
header{
    color: red;
    font-family: 'Bungee Shade', 'Roboto', sans-serif;
    height: 15%;
    background-color: black;
    font-size: 5vw;
}
main{
    height: 70%;
    background-color: #1c1917;
}
footer{
    font-size: 1vw;
    color: red;
    height: 15%;
    background-color: black;
    gap:5px;
}

.gameBoardContainer{
    display: flex;
    flex-wrap: wrap;
    width: 390px;
    height: 390px;
    border: 1px solid black;
}
.squares{
    width: 33.33333%;
    height: 33.333333%;
    border: 1px solid  black;
    background-color: white;
    font-weight: bold;
    font-size: 4rem;
}
.button-container{
    display: flex;
    flex-direction: column;
}
.btn{
    width: 10rem;
    height: 2.5rem;
    margin: 0.5em;
    border-radius: 1rem;
    font-weight: 500;
}
.selected{
    font-weight: 800;
    border: 3px solid red;
}
.not-selected{
    font-weight: 50;
    border: 2px solid gray;
    color: gray;
}
.button-container button:disabled{
    font-weight: 50;
    color: gray;
    background-color: white;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 770px){
    .gameBoardContainer{
        width: 290px;
        height: 290px;
    }
    .btn{
        font-size: 12px;
        width: 8rem;
        height: 2rem;
    }
}
@media (max-height: 739px) and (min-width:500px){
    .gameBoardContainer{
        width: 225px;
        height: 225px;
    }
    .btn{
        font-size: 10px;
        width: 7rem;
        height: 2rem;
    }
    .flex-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .restart-button{
        display: flex;
        flex-direction: column;
    }
    .button-container div{
        display: flex;
        flex-direction: column;
    }
}